<a href="https://colab.research.google.com/github/raunakdwivedi03/Python_Libraries/blob/main/Merging%2CJoining_%26_concatenation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
course=pd.read_csv('/content/courses.csv')
delivery=pd.read_csv('/content/deliveries.csv')
nov=pd.read_csv('/content/reg-month1.csv')
dec=pd.read_csv('/content/reg-month2.csv')
students=pd.read_csv('/content/students.csv')

In [ ]:
dec.shape

(28, 2)

In [ ]:
dec

    student_id  course_id
0            3          5
1           16          7
2           12         10
3           12          1
4           14          9
5            7          7
6            7          2
7           16          3
8           17         10
9           11          8
10          14          6
11          12          5
12          12          7
13          18          8
14           1         10
15           1          9
16           2          5
17           7          6
18          22          5
19          22          6
20          23          9
21          23          5
22          14          4
23          14          1
24          11         10
25          42          9
26          50          8
27          38          1

In [ ]:
#pd.concat --> kitne bhi dataset ko concat kr skte hai
regs=pd.concat([dec,nov],ignore_index=True) ## ignore index se index repeate nhi karega
regs

    student_id  course_id
0            3          5
1           16          7
2           12         10
3           12          1
4           14          9
5            7          7
6            7          2
7           16          3
8           17         10
9           11          8
10          14          6
11          12          5
12          12          7
13          18          8
14           1         10
15           1          9
16           2          5
17           7          6
18          22          5
19          22          6
20          23          9
21          23          5
22          14          4
23          14          1
24          11         10
25          42          9
26          50          8
27          38          1
28          23          1
29          15          5
30          18          6
31          23          4
32          16          9
33          18          1
34           1          1
35           7          8
36          22          3
37          15          1
38          19          4
39           1          6
40           7         10
41          11          7
42          13          3
43          24          4
44          21          1
45          16          5
46          23          3
47          17          7
48          23          6
49          25          1
50          19          2
51          25         10
52           3          3

In [ ]:
#append
nov.append(dec) ## in new update it will remove from pandas use concat

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
multi=pd.concat([nov,dec],keys=['nov','dec'])  #multiindex dataframe

In [ ]:
multi.loc['nov']

    student_id  course_id
0           23          1
1           15          5
2           18          6
3           23          4
4           16          9
5           18          1
6            1          1
7            7          8
8           22          3
9           15          1
10          19          4
11           1          6
12           7         10
13          11          7
14          13          3
15          24          4
16          21          1
17          16          5
18          23          3
19          17          7
20          23          6
21          25          1
22          19          2
23          25         10
24           3          3

In [ ]:
multi.loc['dec']

    student_id  course_id
0            3          5
1           16          7
2           12         10
3           12          1
4           14          9
5            7          7
6            7          2
7           16          3
8           17         10
9           11          8
10          14          6
11          12          5
12          12          7
13          18          8
14           1         10
15           1          9
16           2          5
17           7          6
18          22          5
19          22          6
20          23          9
21          23          5
22          14          4
23          14          1
24          11         10
25          42          9
26          50          8
27          38          1

In [ ]:
multi.loc['nov',3]

student_id    23
course_id      4
Name: (nov, 3), dtype: int64

In [ ]:
hor=pd.concat([nov,dec],axis=1)
hor

    student_id  course_id  student_id  course_id
0         23.0        1.0           3          5
1         15.0        5.0          16          7
2         18.0        6.0          12         10
3         23.0        4.0          12          1
4         16.0        9.0          14          9
5         18.0        1.0           7          7
6          1.0        1.0           7          2
7          7.0        8.0          16          3
8         22.0        3.0          17         10
9         15.0        1.0          11          8
10        19.0        4.0          14          6
11         1.0        6.0          12          5
12         7.0       10.0          12          7
13        11.0        7.0          18          8
14        13.0        3.0           1         10
15        24.0        4.0           1          9
16        21.0        1.0           2          5
17        16.0        5.0           7          6
18        23.0        3.0          22          5
19        17.0        7.0          22          6
20        23.0        6.0          23          9
21        25.0        1.0          23          5
22        19.0        2.0          14          4
23        25.0       10.0          14          1
24         3.0        3.0          11         10
25         NaN        NaN          42          9
26         NaN        NaN          50          8
27         NaN        NaN          38          1

In [ ]:
hor.shape

(28, 4)

#Merge

In [ ]:
## inner join
regs

    student_id  course_id
0            3          5
1           16          7
2           12         10
3           12          1
4           14          9
5            7          7
6            7          2
7           16          3
8           17         10
9           11          8
10          14          6
11          12          5
12          12          7
13          18          8
14           1         10
15           1          9
16           2          5
17           7          6
18          22          5
19          22          6
20          23          9
21          23          5
22          14          4
23          14          1
24          11         10
25          42          9
26          50          8
27          38          1
28          23          1
29          15          5
30          18          6
31          23          4
32          16          9
33          18          1
34           1          1
35           7          8
36          22          3
37          15          1
38          19          4
39           1          6
40           7         10
41          11          7
42          13          3
43          24          4
44          21          1
45          16          5
46          23          3
47          17          7
48          23          6
49          25          1
50          19          2
51          25         10
52           3          3

In [ ]:
students

    student_id                name  partner
0            1       Kailash Harjo       23
1            2         Esha Butala        1
2            3      Parveen Bhalla        3
3            4         Marlo Dugal       14
4            5         Kusum Bahri        6
5            6  Lakshmi Contractor       10
6            7        Tarun Thaker        9
7            8      Radheshyam Dey        5
8            9   Nitika Chatterjee        4
9           10      Aayushman Sant        8
10          11  David Mukhopadhyay       20
11          12          Radha Dutt       19
12          13      Munni Varghese       24
13          14    Pranab Natarajan       22
14          15           Preet Sha       16
15          16        Elias Dodiya       25
16          17        Yasmin Palan        7
17          18     Fardeen Mahabir       13
18          19        Qabeel Raman       12
19          20       Hanuman Hegde       11
20          21          Seema Kota       15
21          22          Yash Sethi       21
22          23      Chhavi Lachman       18
23          24        Radhika Suri       17
24          25     Shashank DAlia        2

In [ ]:
regs

    student_id  course_id
0            3          5
1           16          7
2           12         10
3           12          1
4           14          9
5            7          7
6            7          2
7           16          3
8           17         10
9           11          8
10          14          6
11          12          5
12          12          7
13          18          8
14           1         10
15           1          9
16           2          5
17           7          6
18          22          5
19          22          6
20          23          9
21          23          5
22          14          4
23          14          1
24          11         10
25          42          9
26          50          8
27          38          1
28          23          1
29          15          5
30          18          6
31          23          4
32          16          9
33          18          1
34           1          1
35           7          8
36          22          3
37          15          1
38          19          4
39           1          6
40           7         10
41          11          7
42          13          3
43          24          4
44          21          1
45          16          5
46          23          3
47          17          7
48          23          6
49          25          1
50          19          2
51          25         10
52           3          3

In [ ]:
# inner join
students.merge(regs,how='inner',on='student_id')

    student_id                name  partner  course_id
0            1       Kailash Harjo       23         10
1            1       Kailash Harjo       23          9
2            1       Kailash Harjo       23          1
3            1       Kailash Harjo       23          6
4            2         Esha Butala        1          5
5            3      Parveen Bhalla        3          5
6            3      Parveen Bhalla        3          3
7            7        Tarun Thaker        9          7
8            7        Tarun Thaker        9          2
9            7        Tarun Thaker        9          6
10           7        Tarun Thaker        9          8
11           7        Tarun Thaker        9         10
12          11  David Mukhopadhyay       20          8
13          11  David Mukhopadhyay       20         10
14          11  David Mukhopadhyay       20          7
15          12          Radha Dutt       19         10
16          12          Radha Dutt       19          1
17          12          Radha Dutt       19          5
18          12          Radha Dutt       19          7
19          13      Munni Varghese       24          3
20          14    Pranab Natarajan       22          9
21          14    Pranab Natarajan       22          6
22          14    Pranab Natarajan       22          4
23          14    Pranab Natarajan       22          1
24          15           Preet Sha       16          5
25          15           Preet Sha       16          1
26          16        Elias Dodiya       25          7
27          16        Elias Dodiya       25          3
28          16        Elias Dodiya       25          9
29          16        Elias Dodiya       25          5
30          17        Yasmin Palan        7         10
31          17        Yasmin Palan        7          7
32          18     Fardeen Mahabir       13          8
33          18     Fardeen Mahabir       13          6
34          18     Fardeen Mahabir       13          1
35          19        Qabeel Raman       12          4
36          19        Qabeel Raman       12          2
37          21          Seema Kota       15          1
38          22          Yash Sethi       21          5
39          22          Yash Sethi       21          6
40          22          Yash Sethi       21          3
41          23      Chhavi Lachman       18          9
42          23      Chhavi Lachman       18          5
43          23      Chhavi Lachman       18          1
44          23      Chhavi Lachman       18          4
45          23      Chhavi Lachman       18          3
46          23      Chhavi Lachman       18          6
47          24        Radhika Suri       17          4
48          25     Shashank DAlia        2          1
49          25     Shashank DAlia        2         10

In [ ]:
#left join
course.merge(regs,how='left',on='course_id')

    course_id       course_name  price  student_id
0           1            python   2499        12.0
1           1            python   2499        14.0
2           1            python   2499        38.0
3           1            python   2499        23.0
4           1            python   2499        18.0
5           1            python   2499         1.0
6           1            python   2499        15.0
7           1            python   2499        21.0
8           1            python   2499        25.0
9           2               sql   3499         7.0
10          2               sql   3499        19.0
11          3     data analysis   4999        16.0
12          3     data analysis   4999        22.0
13          3     data analysis   4999        13.0
14          3     data analysis   4999        23.0
15          3     data analysis   4999         3.0
16          4  machine learning   9999        14.0
17          4  machine learning   9999        23.0
18          4  machine learning   9999        19.0
19          4  machine learning   9999        24.0
20          5           tableau   2499         3.0
21          5           tableau   2499        12.0
22          5           tableau   2499         2.0
23          5           tableau   2499        22.0
24          5           tableau   2499        23.0
25          5           tableau   2499        15.0
26          5           tableau   2499        16.0
27          6          power bi   1899        14.0
28          6          power bi   1899         7.0
29          6          power bi   1899        22.0
30          6          power bi   1899        18.0
31          6          power bi   1899         1.0
32          6          power bi   1899        23.0
33          7          ms sxcel   1599        16.0
34          7          ms sxcel   1599         7.0
35          7          ms sxcel   1599        12.0
36          7          ms sxcel   1599        11.0
37          7          ms sxcel   1599        17.0
38          8            pandas   1099        11.0
39          8            pandas   1099        18.0
40          8            pandas   1099        50.0
41          8            pandas   1099         7.0
42          9            plotly    699        14.0
43          9            plotly    699         1.0
44          9            plotly    699        23.0
45          9            plotly    699        42.0
46          9            plotly    699        16.0
47         10           pyspark   2499        12.0
48         10           pyspark   2499        17.0
49         10           pyspark   2499         1.0
50         10           pyspark   2499        11.0
51         10           pyspark   2499         7.0
52         10           pyspark   2499        25.0
53         11             Numpy    699         NaN
54         12               C++   1299         NaN

In [ ]:
# right join
temp_df=pd.DataFrame({
    'student_id':[26,27,28],
     'name':['raunak','rahul','shyaam'],
    'partner':[28,26,17]

})

students=pd.concat([students,temp_df],ignore_index=True)

In [ ]:
students.tail()

    student_id             name  partner
23          24     Radhika Suri       17
24          25  Shashank DAlia        2
25          26           raunak       28
26          27            rahul       26
27          28           shyaam       17

In [ ]:
##right join
students.merge(regs,how='right',on='student_id')

    student_id                name  partner  course_id
0            3      Parveen Bhalla      3.0          5
1           16        Elias Dodiya     25.0          7
2           12          Radha Dutt     19.0         10
3           12          Radha Dutt     19.0          1
4           14    Pranab Natarajan     22.0          9
5            7        Tarun Thaker      9.0          7
6            7        Tarun Thaker      9.0          2
7           16        Elias Dodiya     25.0          3
8           17        Yasmin Palan      7.0         10
9           11  David Mukhopadhyay     20.0          8
10          14    Pranab Natarajan     22.0          6
11          12          Radha Dutt     19.0          5
12          12          Radha Dutt     19.0          7
13          18     Fardeen Mahabir     13.0          8
14           1       Kailash Harjo     23.0         10
15           1       Kailash Harjo     23.0          9
16           2         Esha Butala      1.0          5
17           7        Tarun Thaker      9.0          6
18          22          Yash Sethi     21.0          5
19          22          Yash Sethi     21.0          6
20          23      Chhavi Lachman     18.0          9
21          23      Chhavi Lachman     18.0          5
22          14    Pranab Natarajan     22.0          4
23          14    Pranab Natarajan     22.0          1
24          11  David Mukhopadhyay     20.0         10
25          42                 NaN      NaN          9
26          50                 NaN      NaN          8
27          38                 NaN      NaN          1
28          23      Chhavi Lachman     18.0          1
29          15           Preet Sha     16.0          5
30          18     Fardeen Mahabir     13.0          6
31          23      Chhavi Lachman     18.0          4
32          16        Elias Dodiya     25.0          9
33          18     Fardeen Mahabir     13.0          1
34           1       Kailash Harjo     23.0          1
35           7        Tarun Thaker      9.0          8
36          22          Yash Sethi     21.0          3
37          15           Preet Sha     16.0          1
38          19        Qabeel Raman     12.0          4
39           1       Kailash Harjo     23.0          6
40           7        Tarun Thaker      9.0         10
41          11  David Mukhopadhyay     20.0          7
42          13      Munni Varghese     24.0          3
43          24        Radhika Suri     17.0          4
44          21          Seema Kota     15.0          1
45          16        Elias Dodiya     25.0          5
46          23      Chhavi Lachman     18.0          3
47          17        Yasmin Palan      7.0          7
48          23      Chhavi Lachman     18.0          6
49          25     Shashank DAlia      2.0          1
50          19        Qabeel Raman     12.0          2
51          25     Shashank DAlia      2.0         10
52           3      Parveen Bhalla      3.0          3

In [ ]:
#outer join
students.merge(regs,how='outer',on='student_id').tail(10)

    student_id             name  partner  course_id
53          23   Chhavi Lachman     18.0        6.0
54          24     Radhika Suri     17.0        4.0
55          25  Shashank DAlia      2.0        1.0
56          25  Shashank DAlia      2.0       10.0
57          26           raunak     28.0        NaN
58          27            rahul     26.0        NaN
59          28           shyaam     17.0        NaN
60          38              NaN      NaN        1.0
61          42              NaN      NaN        9.0
62          50              NaN      NaN        8.0

In [ ]:
## find total revenue generated
total_revenue_genrated=regs.merge(course,how='inner',on='course_id')['price'].sum()
total_revenue_genrated

np.int64(154247)

In [ ]:
# find month by month revenue
temp_df=pd.concat([nov,dec],keys=['nov','dec']).reset_index()
temp_df.merge(course,on='course_id').groupby('level_0')['price'].sum()

level_0
dec    65072
nov    89175
Name: price, dtype: int64

In [ ]:
# print the registration table
#cols -> name -> course -> price