<a href="https://colab.research.google.com/github/raunakdwivedi03/Python_Libraries/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas

Pandas Python ki ek powerful data analysis & data manipulation library hai.
Iska use hum data ko read, clean, analyze aur transform karne ke liye karte hain â€” especially tables / CSV / Excel type data ke saath.

Simple words mein:
ðŸ‘‰ Pandas = Excel jaisa kaam, par Python ke andar

Pandas Series


column in excel and 1d array is called the series in pandas

In [2]:
import pandas as pd
import numpy as np

Series from a lists(array)

In [3]:
#string
country=['india','pakistan','usa','nepal','srilanka']

pd.Series(country) ## value and having index it is by default index aur uska value
                    ## dtype is object means pandas treat string as a object

0       india
1    pakistan
2         usa
3       nepal
4    srilanka
dtype: object

In [4]:
#integer
runs=[13,24,56,64,64]
pd.Series(runs)

0    13
1    24
2    56
3    64
4    64
dtype: int64

In [5]:
#custom index khud ka index bna skte hai
marks=[10,24,32,41,57,39]
subject=['maths','english','hindi','science','SSt','geography']

pd.Series(marks,index=subject)

maths        10
english      24
hindi        32
science      41
SSt          57
geography    39
dtype: int64

In [8]:
##setting a name to series
marks = pd.Series(marks,index=subject,name='raunak ke marks ')
marks

maths        10
english      24
hindi        32
science      41
SSt          57
geography    39
Name: raunak ke marks , dtype: int64

#Series from Dict

In [11]:
marks={
    'maaths':67,
    'hindi':43,
    'english':10,
    'SSt':98
}

marks_series=pd.Series(marks,name='raunak ke marks ')
marks_series

maaths     67
hindi      43
english    10
SSt        98
Name: raunak ke marks , dtype: int64

#Series Attribute

In [12]:
#size
marks_series.size

4

In [13]:
#dtype default type
marks_series.dtype

dtype('int64')

In [14]:
#name
marks_series.name

'raunak ke marks '

In [15]:
#is_unique
marks_series.is_unique  # it gives true when the values are not repeating and false when the values are repeating

True

In [16]:
pd.Series([1,1,1,1,2,3,42,2,1]).is_unique

False

In [17]:
#index
marks_series.index

Index(['maaths', 'hindi', 'english', 'SSt'], dtype='object')

In [19]:
run_series=pd.Series([13,24,56,64,64])
run_series.index

RangeIndex(start=0, stop=5, step=1)

In [22]:
#values
print(marks_series.values)
print(type(marks_series.values))

[67 43 10 98]
<class 'numpy.ndarray'>

#Series using read.csv

In [23]:
##with one col

pd.read_csv('/content/subs.csv')

# this is in dataframe means 2d

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [24]:
type(pd.read_csv('/content/subs.csv'))

pandas.core.frame.DataFrame

In [27]:
subs=pd.read_csv('/content/subs.csv')
subs.squeeze(True)  ## this is in list from means 1 d

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [33]:
## with 2 cols
kohli=pd.read_csv('/content/kohli_ipl.csv',index_col='match_no')
kohli

 #dataframe

          runs
match_no
1            1
2           23
3           13
4           12
5            1
...        ...
211          0
212         20
213         73
214         25
215          7

[215 rows x 1 columns]

In [32]:
kohli.squeeze(True)
 ##list

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [34]:
bollywood=pd.read_csv('/content/bollywood.csv',index_col='movie')
bollywood

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

In [35]:
bollywood.squeeze(True)

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

#Series Methods

In [38]:
##head and tail
subs.head()

   Subscribers gained
0                  48
1                  57
2                  40
3                  43
4                  44

In [40]:
kohli.head(10)

          runs
match_no
1            1
2           23
3           13
4           12
5            1
6            9
7           34
8            0
9           21
10           3

In [41]:
kohli.tail(10)

          runs
match_no
206          0
207          0
208          9
209         58
210         30
211          0
212         20
213         73
214         25
215          7

In [45]:
bollywood.sample(5)

                                 lead
movie
Aksar 2                   Zareen Khan
Deewaar (2004 film)  Amitabh Bachchan
Murder (2004 film)   Mallika Sherawat
Dhadak                 Ishaan Khattar
OMG â€“ Oh My God!         Paresh Rawal

In [50]:
#value- count
bollywood.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Naveen Bawa          1
Naushaad Abbas       1
Nauheed Cyrusi       1
Natalia Janoszek     1
Nishikant Kamat      1
Name: count, Length: 566, dtype: int64

In [54]:
##sort_values --> inplace
kohli.sort_values(by='runs', ascending=False)

          runs
match_no
128        113
126        109
123        108
120        100
164        100
...        ...
93           0
130          0
206          0
207          0
211          0

[215 rows x 1 columns]

In [56]:
kohli.sort_values(by='runs', ascending=True).head(1).values[0]

array([0])

In [58]:
#sort_values --> inplace
kohli=kohli.sort_values(by='runs', ascending=False)
kohli

          runs
match_no
128        113
126        109
123        108
120        100
164        100
...        ...
93           0
130          0
206          0
207          0
211          0

[215 rows x 1 columns]

In [61]:
kohli.sort_values(by='runs', inplace=True)
kohli

          runs
match_no
211          0
8            0
207          0
206          0
130          0
...        ...
120        100
164        100
123        108
126        109
128        113

[215 rows x 1 columns]

In [62]:
bollywood

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

In [66]:
bollywood.sort_index(ascending=True,inplace=True)
bollywood

                                        lead
movie
1920 (film)                 Rajniesh Duggall
1920: London                   Sharman Joshi
1920: The Evil Returns           Vicky Ahuja
1971 (2007 film)              Manoj Bajpayee
2 States (2014 film)            Arjun Kapoor
...                                      ...
Zindagi 50-50                    Veena Malik
Zindagi Na Milegi Dobara      Hrithik Roshan
Zindagi Tere Naam         Mithun Chakraborty
Zokkomon                     Darsheel Safary
Zor Lagaa Ke...Haiya!          Meghan Jadhav

[1500 rows x 1 columns]

inplace is used to update list permanently

#Series maths method

In [67]:
## count
subs.count()

Subscribers gained    365
dtype: int64

In [70]:
kohli.count()

#count not count the missing values in the dataset and gives the total number of values

runs    215
dtype: int64

In [71]:
##sum/prod

subs.sum()

Subscribers gained    49510
dtype: int64

In [72]:
kohli.sum()

runs    6634
dtype: int64

In [76]:
subs.product()

Subscribers gained    0
dtype: int64

In [81]:
#median
subs.median()
print(kohli.median())
print(bollywood.median)
print(bollywood.mode())

runs    24.0
dtype: float64
<bound method DataFrame.median of                                         lead
movie
1920 (film)                 Rajniesh Duggall
1920: London                   Sharman Joshi
1920: The Evil Returns           Vicky Ahuja
1971 (2007 film)              Manoj Bajpayee
2 States (2014 film)            Arjun Kapoor
...                                      ...
Zindagi 50-50                    Veena Malik
Zindagi Na Milegi Dobara      Hrithik Roshan
Zindagi Tere Naam         Mithun Chakraborty
Zokkomon                     Darsheel Safary
Zor Lagaa Ke...Haiya!          Meghan Jadhav

[1500 rows x 1 columns]>
           lead
0  Akshay Kumar

In [82]:
print(subs.std())

Subscribers gained    62.675023
dtype: float64

In [84]:
subs.var()

Subscribers gained    3928.158513
dtype: float64

In [85]:
#min/max
subs.min()

Subscribers gained    33
dtype: int64

In [86]:
subs.max()

Subscribers gained    396
dtype: int64

In [87]:
#describe
kohli.describe()

             runs
count  215.000000
mean    30.855814
std     26.229801
min      0.000000
25%      9.000000
50%     24.000000
75%     48.000000
max    113.000000

In [88]:
subs.describe()

       Subscribers gained
count          365.000000
mean           135.643836
std             62.675023
min             33.000000
25%             88.000000
50%            123.000000
75%            177.000000
max            396.000000

#series indexing

In [90]:
#integer indexing
x=pd.Series([1,2,3,1,3,1,3,24,5,3,67,5,5,44,4,2,1])
x[10]

np.int64(67)

In [92]:
#negative indexing
x[-1]

KeyError: -1

In [95]:
bollywood

                                        lead
movie
1920 (film)                 Rajniesh Duggall
1920: London                   Sharman Joshi
1920: The Evil Returns           Vicky Ahuja
1971 (2007 film)              Manoj Bajpayee
2 States (2014 film)            Arjun Kapoor
...                                      ...
Zindagi 50-50                    Veena Malik
Zindagi Na Milegi Dobara      Hrithik Roshan
Zindagi Tere Naam         Mithun Chakraborty
Zokkomon                     Darsheel Safary
Zor Lagaa Ke...Haiya!          Meghan Jadhav

[1500 rows x 1 columns]

In [97]:
bollywood.iloc[0]

lead    Rajniesh Duggall
Name: 1920 (film), dtype: object

In [98]:
marks_series[-1]

/tmp/ipython-input-569294583.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  marks_series[-1]

np.int64(98)

In [100]:
#slicing
kohli[5:16]

          runs
match_no
93           0
91           0
87           0
135          0
75           1
1            1
106          1
77           1
113          1
5            1
204          1

In [101]:
kohli[-5:]

          runs
match_no
120        100
164        100
123        108
126        109
128        113

In [102]:
bollywood[::2]

                                      lead
movie
1920 (film)               Rajniesh Duggall
1920: The Evil Returns         Vicky Ahuja
2 States (2014 film)          Arjun Kapoor
3 A.M. (2014 film)           Salil Acharya
3 Idiots                        Aamir Khan
...                                    ...
Zero (2018 film)            Shah Rukh Khan
Zila Ghaziabad                Vivek Oberoi
Zindaggi Rocks                Sushmita Sen
Zindagi Na Milegi Dobara    Hrithik Roshan
Zokkomon                   Darsheel Safary

[750 rows x 1 columns]

In [105]:
kohli

          runs
match_no
211          0
8            0
207          0
206          0
130          0
...        ...
120        100
164        100
123        108
126        109
128        113

[215 rows x 1 columns]

In [107]:
#fancy indexing
kohli.iloc[[1,2,3,4,5]]

          runs
match_no
8            0
207          0
206          0
130          0
93           0

In [110]:
#indexing with labels --> fancy indexing

bollywood.loc['2 States (2014 film)']

lead    Arjun Kapoor
Name: 2 States (2014 film), dtype: object

#Editing series

In [114]:
marks_series

maaths      67
hindi      100
english     10
SSt         98
Name: raunak ke marks , dtype: int64

In [116]:
#using indexing
marks_series[0]=100
marks_series

/tmp/ipython-input-3925646769.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  marks_series[0]=100

maaths     100
hindi      100
english     10
SSt         98
Name: raunak ke marks , dtype: int64

In [117]:
#what if an indexing does not exist
marks_series['sst']=100

In [118]:
marks_series

maaths     100
hindi      100
english     10
SSt         98
sst        100
Name: raunak ke marks , dtype: int64

In [119]:
#slicing
runs_ser=pd.Series([13,24,56,64,64])

runs_ser

0    13
1    24
2    56
3    64
4    64
dtype: int64

In [120]:
runs_ser[1:3]=[100,100]
runs_ser

0     13
1    100
2    100
3     64
4     64
dtype: int64

In [121]:
#fancy indexing
runs_ser[[0,2,4]]=[10,100,0]
runs_ser

0     10
1    100
2    100
3     64
4      0
dtype: int64

In [123]:
#using index label
bollywood[' 2 states (2014 film)']='alia bhatt'
bollywood

                                        lead  2 states (2014 film)
movie
1920 (film)                 Rajniesh Duggall            alia bhatt
1920: London                   Sharman Joshi            alia bhatt
1920: The Evil Returns           Vicky Ahuja            alia bhatt
1971 (2007 film)              Manoj Bajpayee            alia bhatt
2 States (2014 film)            Arjun Kapoor            alia bhatt
...                                      ...                   ...
Zindagi 50-50                    Veena Malik            alia bhatt
Zindagi Na Milegi Dobara      Hrithik Roshan            alia bhatt
Zindagi Tere Naam         Mithun Chakraborty            alia bhatt
Zokkomon                     Darsheel Safary            alia bhatt
Zor Lagaa Ke...Haiya!          Meghan Jadhav            alia bhatt

[1500 rows x 2 columns]